@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #f3e5d8;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
}

h1, h2, p {
    margin: 5px;
}

h2 {
    color: #b26859;
}

h3 {
    color: #8c3861;
}

img {
    width: 450px;
    height: 200px;
    
}